<header>
    <h1 style="margin: 0;">My Flask App</h1>
    <nav>
        <ul style="list-style:none; display:flex; gap:20px; padding:0; margin:0;">
            <li><a href= "{{ url_for('home') }}" style="color:rgb(52, 69, 97); text-decoration:none;">Home</a></li>
            <li><a href= "{{ url_for('about') }}" style="color:rgb(52, 69, 97); text-decoration:none;">About</a></li>
            <li><a href= "{{ url_for('contact') }}" style="color:rgb(52, 69, 97); text-decoration:none;">Contact</a></li>
            <li><a href="{{ url_for('items') }}" style="color:rgb(52, 69, 97); text-decoration:none;">Items</a></li>
        </ul>
    </nav>
</header>